body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
.headerbg {
  width: 10rem;
  height: 1.2rem;
  overflow: hidden;
}
.header {
  width: 10rem;
  height: 1.2rem;
  background-color: #4694e6;
  padding: 0 0.26666667rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.header img {
  position: absolute;
}
.header .l img {
  width: 0.4rem;
  top: 50%;
  left: 0.26666667rem;
  transform: translate(0, -50%);
}
.header .m {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.45333333rem;
  color: #fff;
}
.header .r img {
  width: 0.69333333rem;
  top: 50%;
  right: 0.26666667rem;
  transform: translate(0, -50%);
}
.tBBhide {
  opacity: 0;
  transform: translate(0, 100%);
}
.tabBarsBox {
  width: 10rem;
  height: 1.92rem;
  position: fixed;
  z-index: 9;
  left: 0;
  bottom: 0;
}
.tabBarsBox .tabBars {
  width: 10rem;
  height: 1.30666667rem;
  background-color: #4595e6;
  position: fixed;
  left: 0;
  bottom: 0;
  transition: transform .3s ease,opacity .3s ease;
}
.tabBarsBox .tabBars ul {
  margin-left: 0.26666667rem;
}
.tabBarsBox .tabBars ul li {
  width: 1.89333333rem;
  height: 1.30666667rem;
  float: left;
  text-align: center;
  position: relative;
}
.tabBarsBox .tabBars ul li p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.32rem;
  position: absolute;
  left: 50%;
  bottom: 0.13333333rem;
  transform: translate(-50%, 0);
}
.tabBarsBox .tabBars ul li a {
  display: block;
  width: 1.6rem;
  height: 1.30666667rem;
  margin: 0 auto;
}
.tabBarsBox .tabBars ul li img {
  position: absolute;
  left: 50%;
  bottom: 0.58666667rem;
  transform: translate(-50%, 0);
}
.tabBarsBox .tabBars ul li:nth-of-type(1) img {
  width: 0.61333333rem;
  height: 0.56rem;
}
.tabBarsBox .tabBars ul li:nth-of-type(2) img {
  width: 0.56rem;
  height: 0.56rem;
}
.tabBarsBox .tabBars ul li:nth-of-type(3) a {
  position: absolute;
  width: 1.73333333rem;
  height: 1.73333333rem;
  background-color: #2e8ae6;
  border-radius: 50%;
  top: -0.61333333rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.tabBarsBox .tabBars ul li:nth-of-type(3) img {
  width: 0.93333333rem;
  height: 0.93333333rem;
}
.tabBarsBox .tabBars ul li:nth-of-type(4) img {
  width: 0.8rem;
  height: 0.54666667rem;
}
.tabBarsBox .tabBars ul li:nth-of-type(5) img {
  width: 0.50666667rem;
  height: 0.56rem;
}
.tabBarsBox .tabBars ul li.current p {
  color: #ffffff;
}
.title {
  background-color: #fff;
  height: 5.6rem;
  width: 100%;
  padding: 0.26666667rem;
  box-sizing: border-box;
}
.title .bookcover {
  width: 3.73333333rem;
  height: 4.8rem;
  border-radius: 0.13333333rem;
  float: left;
  background: url(../images/details/details-titlepic.png) 0 0 no-repeat;
  background-size: contain;
  margin-right: 0.53333333rem;
}
.title .bookinfo {
  width: 3.33333333rem;
  height: 4.8rem;
  float: left;
  position: relative;
}
.title .bookinfo h3 {
  font-size: 0.53333333rem;
  color: #333;
  font-family: "Microsoft YaHei";
  margin-bottom: 0.13333333rem;
}
.title .bookinfo dl dt {
  font-size: 0.32rem;
  color: #666;
  font-family: 'Microsoft Yahei';
}
.title .bookinfo dl dd {
  font-size: 0.37333333rem;
  margin-bottom: 0.13333333rem;
}
.title .bookinfo p {
  font-size: 0.32rem;
  color: #4595e6;
}
.title .bookinfo .startreading {
  width: 3.2rem;
  height: 0.90666667rem;
  background-color: #ff7733;
  font-size: 0.4rem;
  color: #fff;
  text-align: center;
  line-height: 0.90666667rem;
  border-radius: 0.90666667rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.title .score {
  width: 1.33333333rem;
  height: 1.33333333rem;
  float: right;
  margin-right: 0.26666667rem;
  border-radius: 50%;
  background-color: #4595e6;
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
  line-height: 1.33333333rem;
}
.section2 {
  width: 100%;
  height: 1.86666667rem;
  margin-top: 0.13333333rem;
  background-color: #fff;
}
.section2 ul {
  padding: 0.53333333rem 1.33333333rem 0 1.33333333rem;
}
.section2 ul li {
  width: 1.06666667rem;
  height: 1.33333333rem;
  float: left;
  margin-right: ;
  background-color: #fac;
}
.summary {
  width: 100%;
  height: 2.66666667rem;
  margin-top: 0.13333333rem;
  background-color: #fff;
  position: relative;
  padding: 0.26666667rem;
  box-sizing: border-box;
}
.summary p {
  font-size: 0.32rem;
  color: #999;
  margin: 0 0.26666667rem 0 0.26666667rem;
  text-indent: 2em;
  line-height: 0.42666667rem;
}
.summary img {
  width: 0.8rem;
  height: 0.32rem;
  position: absolute;
  bottom: 0.13333333rem;
  left: 50%;
  transform: translateX(-50%);
}
.chapter {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.13333333rem;
  background-color: #fff;
}
/* .test{width: 200/75rem; height: 3000/75rem; background-color: #AFC; border: 1px solid #333; margin: 0 auto; } */
