body{background-color: #f0f0f0; overflow-x:hidden; }
.headerbg{width: 10rem; height: 90/75rem; overflow: hidden; }
.header{width: 10rem; height: 90/75rem; background-color: #4694e6; padding:0 20/75rem; box-sizing:border-box; position: fixed; top: 0; left: 0; z-index:99;
    img{position: absolute; }
    .l img{width: 30/75rem; top:50%; left:20/75rem; transform:translate(0,-50%); }
    .m{position: absolute; left:50%; top:50%; transform:translate(-50%,-50%); font-size: 34/75rem; color:#fff; }
    .r img{ width: 52/75rem; top:50%; right:20/75rem; transform:translate(0,-50%);  }
 }

.tBBhide{opacity:0; transform:translate(0,100%); }
.tabBarsBox{
    width: 10rem; height: 144/75rem; position:fixed; z-index:9; left:0; bottom:0; 
    .tabBars{width: 10rem; height: 98/75rem; background-color: #4595e6; position:fixed; left:0; bottom:0; transition:transform .3s ease,opacity .3s ease; 
        ul{margin-left: 20/75rem;}
        ul li{width: 142/75rem; height: 98/75rem; float: left; text-align: center; position:relative; }
        ul li p{color:rgba(255,255,255,.8); font-size: 24/75rem; position:absolute; left:50%; bottom:10/75rem; transform:translate(-50%,0); }
        ul li a{display:block; width: 120/75rem; height: 98/75rem; margin:0 auto; }
        ul li img{position:absolute;left:50%; bottom:44/75rem; transform:translate(-50%,0); }
        ul li:nth-of-type(1) img{width: 46/75rem; height: 42/75rem; }
        ul li:nth-of-type(2) img{width: 42/75rem; height: 42/75rem; }
        ul li:nth-of-type(3) a{position:absolute; width: 130/75rem; height: 130/75rem; background-color: #2e8ae6; border-radius: 50%; top:-46/75rem; left:50%; transform:translate(-50%,0); }
        ul li:nth-of-type(3) img{width: 70/75rem; height: 70/75rem; }
        ul li:nth-of-type(4) img{width: 60/75rem; height: 41/75rem; }
        ul li:nth-of-type(5) img{width: 38/75rem; height: 42/75rem; }
        ul li.current p{color:rgba(255,255,255,1);}

    }
}
.test{width: 200/75rem; height: 3000/75rem; background-color: #AFC; border: 1px solid #333; margin: 0 auto; }
